<footer class="site-footer" style="background-color:whitesmoke">

  <div class="wrapper">

    <!---
    <h2 class="footer-heading">{{ site.title | escape }}</h2>
    --->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              <!---
              {{ site.title | escape }}
              --->
            {% endif %}
            </li>
            <!---
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
            --->
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <!---
        <p>{{ site.description | escape }}</p>
        --->
        <p align="right">
          <span>© 2017 {{ site.title | escape }}</span>
          <span style="padding-left:5px;padding-right:5px">•</span>
          <span class="rss-subscribe">
            <a href="{{ "/feed.xml" | relative_url }}">
              <img src="/assets/img/rss.png" alt="RSS" width="30px" style="position:relative;bottom:3px">
            </a>
            <a href="mailto:{{ site.email }}">
              <img src="/assets/img/email.png" alt="Email" width="30px" style="position:relative;bottom:3px">
            </a>
          </span>
        </p>
      </div>
    </div>
  </div>
</footer>
